In [0]:
!pip install glove_python

In [0]:
import pandas as pd
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.sentiment import sentiment_analyzer
from textblob import TextBlob
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
from glove import Glove

In [0]:
nltk.download('vader_lexicon')

In [0]:
data=pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv")
url = "http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz"
r = pd.read_json(url,lines=True)
df1 = r.copy()
twitr = data.copy()

In [0]:
#df1['sentiR']=df1['reviewText'].apply(lambda x:(TextBlob(x).sentiment)[0])
twitr['sentiT']=twitr['TweetText'].apply(lambda x:(TextBlob(x).sentiment)[0])

In [0]:
sid = SentimentIntensityAnalyzer()
def sentIntens(text):
  compctr,compound =0,0
  for sentence in text.split('.'):
    ss = sid.polarity_scores(sentence)####Logic is a bit shaky after this 
    if float(ss['compound'])==0.000:
      compctr +=1
    else:
      compound +=ss['compound']
  if compctr == text.count('.'):
    return 'irrelevant'
  elif compound > 0.05:
    return 'positive'
  elif compound < -0.05:
    return 'negative'
  else:
    return 'neutral'

In [0]:
df1['sentIntensS'] = df1['summary'].apply(lambda x:sentIntens(x))

In [0]:
twitr['sentIntensT'] = twitr['TweetText'].apply(lambda x:sentIntens(x))

In [128]:
abc = classification_report(twitr['sentIntensT'],twitr['Sentiment'],output_dict=True)
df = pd.DataFrame(abc).transpose()
accuracy_score(twitr['Sentiment'],twitr['sentIntensT'])

0.3590846860942695

In [123]:
df

              precision    recall  f1-score      support
irrelevant     0.285376  0.223148  0.250455  2160.000000
negative       0.108392  0.632653  0.185075    98.000000
neutral        0.525075  0.464719  0.493057  2636.000000
positive       0.129094  0.305936  0.181572   219.000000
accuracy       0.359085  0.359085  0.359085     0.359085
macro avg      0.261984  0.406614  0.277540  5113.000000
weighted avg   0.398866  0.359085  0.371324  5113.000000

In [129]:
twitr

        Topic   Sentiment             TweetId  ...    sentiT SentimentC  sentIntensT
0       apple    positive  126415614616154112  ...  0.000000          1      neutral
1       apple    positive  126404574230740992  ...  0.500000          1   irrelevant
2       apple    positive  126402758403305474  ...  0.393750          1     positive
3       apple    positive  126397179614068736  ...  0.541667          1   irrelevant
4       apple    positive  126395626979196928  ...  0.200000          1   irrelevant
...       ...         ...                 ...  ...       ...        ...          ...
5108  twitter  irrelevant  126855687060987904  ...  0.000000         -2      neutral
5109  twitter  irrelevant  126855171702661120  ...  0.500000         -2   irrelevant
5110  twitter  irrelevant  126854999442587648  ... -0.250000         -2   irrelevant
5111  twitter  irrelevant  126854818101858304  ...  0.000000         -2      neutral
5112  twitter  irrelevant  126854423317188608  ...  0.000000         -2      neutral

[5113 rows x 8 columns]